[project]
name = "pgscatalog.core"
version = "1.0.2"
description = "Core tools for working with polygenic scores (PGS) and the PGS Catalog"
license = "Apache-2.0"
authors = [
    {name = "Benjamin Wingfield", email = "bwingfield@ebi.ac.uk"},
    {name = "Samuel Lambert", email = "sl925@medschl.cam.ac.uk"},
    {name = "Laurent Gil", email = "lg10@sanger.ac.uk"},
    {name = "Florent Yvon", email = "fy279@cam.ac.uk"}
]
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

requires-python = ">=3.10"
dependencies = [
    "httpx>=0.28.1",
    "natsort>=8.4.0",
    "pydantic>=2.10.6",
    "pyliftover>=0.4.1",
    "tenacity>=9.0.0",
    "tqdm>=4.67.1",
    "xopen[zstd]>=2.0.2",
]

# https://peps.python.org/pep-0621/
[project.scripts]
pgscatalog-download = 'pgscatalog.core.cli.download_cli:run'
pgscatalog-combine = 'pgscatalog.core.cli.format_cli:run' # deprecated
pgscatalog-format = 'pgscatalog.core.cli.format_cli:run'
pgscatalog-relabel = 'pgscatalog.core.cli.relabel_cli:run'

# https://peps.python.org/pep-0735/
[dependency-groups]
lint = [
    "ruff>=0.9.4",
    "mypy>=1.14.1"
    ]
test = [
    "pytest>=8.3.4",
    "coverage>=7.8.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/pgscatalog"]
artifacts = ["pgscatalog/calc/py.typed"]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "--doctest-modules"
filterwarnings = ["error"]
pythonpath = [
  "src"
]
consider_namespace_packages = true

[tool.coverage.run]
source = ["src/pgscatalog/core", "tests"]
concurrency = ["multiprocessing"]
parallel = true
sigterm = true

[tool.mypy]
mypy_path = "src"
exclude = "tests|cli"
namespace_packages = true
explicit_package_bases = true
# https://careers.wolt.com/en/blog/tech/professional-grade-mypy-configuration
disallow_untyped_defs = true
disallow_any_unimported = false
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true

[tool.ruff]
fix = true

# TODO: extend rulesets like pgscatalog.calc