[tool.poetry]
name = "pgscatalog-utils"
version = "1.2.0"
description = "Utilities for working with PGS Catalog API and scoring files"
authors = ["Benjamin Wingfield <bwingfield@ebi.ac.uk>", "Samuel Lambert <sl925@medschl.cam.ac.uk>", "Laurent Gil <lg10@sanger.ac.uk>"]
license = "Apache-2.0"
readme = "README.md"
packages = [
    { include = "pgscatalog", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.10"
"pgscatalog.calc" = "^0.2.2"
"pgscatalog.core" =  "^0.2.2"
"pgscatalog.match" =  "^0.2.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
