[project]
name = "pgscatalog.calc"
version = "1.0.0"
description = "Libraries and applications for working with calculated polygenic scores"
license = "Apache-2.0"
authors = [
    {name = "Benjamin Wingfield", email = "bwingfield@ebi.ac.uk"},
    {name = "Samuel Lambert", email = "sl925@medschl.cam.ac.uk"},
    {name = "Laurent Gil", email = "lg10@sanger.ac.uk"},
    {name = "Florent Yvon", email = "fy279@cam.ac.uk"}
]
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

requires-python = ">=3.12"
dependencies = [
    "pgscatalog-core",
    "bgen==1.9.3",
    "dask>=2025.9.1",
    "duckdb>=1.4.1",
    "filelock>=3.19.1",
    "zarr>=2.18.3",
    "polars>=0.20.30",
    "pysam>=0.23.3",
    "rich>=14.1.0",
    "numpy>=1.26.4",
    "pyarrow>=15.0.2",
]


[tool.uv.sources]
pgscatalog-core = { workspace = true }

# https://peps.python.org/pep-0621/
[project.scripts]
pgsc_calc = "pgscatalog.calc.cli.main:main"
pgscatalog-aggregate = 'pgscatalog.calc.cli.legacy.aggregate_cli:run_aggregate'
pgscatalog-ancestry-adjust = 'pgscatalog.calc.cli.legacy.ancestry_cli:run_ancestry'

# https://peps.python.org/pep-0735/
[dependency-groups]
lint = [
    "ruff>=0.9.4",
    "mypy>=1.14.1"
    ]
test = [
    "pytest>=8.3.4",
    "coverage>=7.8.0",
]
# packages for legacy implementations
legacy = [
    "pandas>=2.3.3",
    "scikit-learn>=1.7.2",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
default-groups = ["legacy"]

[tool.hatch.build.targets.wheel]
packages = ["src/pgscatalog"]
artifacts = ["pgscatalog/calc/py.typed"]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "--doctest-modules"
filterwarnings = ["error"]
pythonpath = [
  "src"
]
testpaths = [
    "tests",
]
consider_namespace_packages = true

[tool.coverage.run]
source = ["src/pgscatalog/calc", "tests"]
concurrency = ["multiprocessing"]
parallel = true
sigterm = true

[tool.mypy]
mypy_path = "src"
exclude = "tests|legacy"
namespace_packages = true
explicit_package_bases = true
# https://careers.wolt.com/en/blog/tech/professional-grade-mypy-configuration
disallow_untyped_defs = true
disallow_any_unimported = false
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true

[tool.ruff]
fix = true
extend-exclude = ["src/pgscatalog/calc/lib/legacy", "src/pgscatalog/calc/cli/legacy/"]

[tool.ruff.lint]
extend-select = [
    "F",        # Pyflakes rules
    "W",        # PyCodeStyle warnings
    "E",        # PyCodeStyle errors
    "I",        # Sort imports properly
    "UP",       # Warn if certain things can changed due to newer Python versions
    "C4",       # Catch incorrect use of comprehensions, dict, list, etc
    "FA",       # Enforce from __future__ import annotations
    "ISC",      # Good use of string concatenation
    "ICN",      # Use common import conventions
    "RET",      # Good return practices
    "SIM",      # Common simplification rules
    "TID",      # Some good import practices
    "TC",       # Enforce importing certain types in a TYPE_CHECKING block
    "PTH",      # Use pathlib instead of os.path
    "TD",       # Be diligent with TODO comments
    "NPY",      # Some numpy-specific things
]
