[project]
name = "pgscatalog.calc"
version = "0.3.1"
description = "Libraries and applications for working with calculated polygenic scores"
license = "Apache-2.0"
authors = [
    {name = "Benjamin Wingfield", email = "bwingfield@ebi.ac.uk"},
    {name = "Samuel Lambert", email = "sl925@medschl.cam.ac.uk"},
    {name = "Laurent Gil", email = "lg10@sanger.ac.uk"},
    {name = "Florent Yvon", email = "fy279@cam.ac.uk"}
]
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

requires-python = ">=3.10"
dependencies = [
    "numpy~=1.26",
    "pandas~=2.2.0",
    "pyarrow~=15.0.0",
    "scikit-learn~=1.4",
    "scipy~=1.12",
    "pgscatalog-core",
    "bgen>=1.9.0",
    "dask>=2025.9.1",
    "duckdb>=1.4.0",
    "filelock>=3.19.1",
    "zarr>=2.18.3",
    "polars>=0.20.30",
    "pysam>=0.23.3",
    "rich>=14.1.0",
]


[tool.uv.sources]
pgscatalog-core = { workspace = true }

# https://peps.python.org/pep-0621/
[project.scripts]
pgsc_calc = "pgscatalog.calc.cli.main:main"
pgscatalog-aggregate = 'pgscatalog.calc.cli.legacy.aggregate_cli:run_aggregate'
pgscatalog-ancestry-adjust = 'pgscatalog.calc.cli.legacy.ancestry_cli:run_ancestry'

# https://peps.python.org/pep-0735/
[dependency-groups]
lint = [
    "ruff>=0.9.4",
    "mypy>=1.14.1"
    ]
test = [
    "pytest>=8.3.4",
    "coverage>=7.8.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/pgscatalog/calc"]
artifacts = ["pgscatalog/calc/py.typed"]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "--doctest-modules"
filterwarnings = ["error"]
pythonpath = [
  "src"
]
consider_namespace_packages = true

[tool.coverage.run]
source = ["src/pgscatalog/calc", "tests"]
concurrency = ["multiprocessing"]
parallel = true
sigterm = true

[tool.mypy]
# namespace package configuration
mypy_path = "src"
files = ["src/pgscatalog"]
explicit_package_bases = true
# https://careers.wolt.com/en/blog/tech/professional-grade-mypy-configuration
disallow_untyped_defs = true
disallow_any_unimported = false
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true
exclude = '(tests|legacy)'
