name: build release images

on:
  workflow_dispatch:
    inputs:
      tag: 
        type: string
        required: true
    
jobs:
  build_docker_release:
    name: build docker release image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./pgscatalog.utils
          file: ./pgscatalog.utils/docker/utils.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/pgscatalog/pygscatalog:pgscatalog-utils-${{ inputs.tag }}
            pgscatalog/pygscatalog:pgscatalog-utils-${{ inputs.tag }}
    

  build_singularity_release:
    needs: build_docker_release
    name: build singularity release image
    runs-on: ubuntu-latest

    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v4

      - name: Set up apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.2.0
          
      - name: Build singularity image
        run: apptainer build img.sif "docker://ghcr.io/pgscatalog/pygscatalog:pgscatalog-utils-${{ inputs.tag }}"

      - name: Push singularity image
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | apptainer remote login -u "$GITHUB_ACTOR" --password-stdin oras://ghcr.io
          apptainer push img.sif "oras://ghcr.io/pgscatalog/pygscatalog:pgscatalog-utils-${{ inputs.tag }}-singularity"
